@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@import "tailwindcss";

:root {
  --primary-1: #021e48;
  --primary-2: #c57443;
}

@theme {
  --color-primary-1: #021e48;
  --color-primary-2: #c57443;
}

body {
  overflow-x: hidden;
  background: #fff;
  font-family: var(--font-poppins);
}

.gujarati {
  font-family: var(--font-gujarati);
}

/* testimonials */
.custom-dot,
.join-dot {
  width: 12px !important;
  height: 12px !important;
  background: #b4b4b4;
  border-radius: 50%;
  display: inline-block;
  transition: all 0.3s ease;
}

.custom-dot.swiper-pagination-bullet-active,
.join-dot.swiper-pagination-bullet-active {
  width: 30px !important;
  background: var(--primary-2);
  border-radius: 10px;
}
